ansi2html
asttokens
attrs
blinker
Brotli
certifi
charset-normalizer
click
colorama
comm
dash
debugpy
decorator
executing
flask
flask-compress
idna
importlib-metadata
iniconfig
ipykernel
ipython
itsdangerous
jedi
jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
markupsafe
matplotlib-inline
nbformat
nest-asyncio
numpy
packaging
parso
pip
platformdirs
plotly
pluggy
prompt-toolkit
psutil
pure_eval
pygments
pyserial
pysocks
pytest
python-dateutil
fastjsonschema
pywin32
pyzmq
referencing
requests
retrying
rpds-py
scikit-learn
scipy
setuptools
six
stack_data
tenacity
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
werkzeug
wheel
win_inet_pton
zipp